global
  maxconn 10000

defaults
  mode tcp
  timeout connect 3s
  timeout client  60s
  timeout server  60s

frontend fe_gateway
  bind 0.0.0.0:6000
  default_backend be_gateway

backend be_gateway
  balance roundrobin
  server gw1 gateway-1:6000 check
  server gw2 gateway-2:6000 check

listen stats
  bind 0.0.0.0:8404
  mode http
  stats enable
  stats uri /
  http-request use-service prometheus-exporter if { path /metrics }
